{% if flashbag.has('alert') %}
    {% set alert = flashbag.get('alert') %} 

    <div class="col-md-4 offset-md-4 test alert alert-{{ alert['type'] }}" role="alert">
        {{ alert['msg'] }}
    </div>
{% endif %}