{% extends "base.html.twig" %} 

{% block content %}
    <h1>Titre</h1>

    <div class="jumbotron">
        <p>{{ exp_email }}</p>
        <p>vous invite à télécharger:</p>
        <p>{{ file }}</p>
        <p>Taille: {{ size }}</p>
        <p>Cliquez ci-dessous pour télécharger le fichier: </p>
        <a class="btn btn-primary" href="{{ url('download/') ~ fake}}" role="button">Télécharger</a>
    </div>

    
{% endblock %}